:root {
  --background-color: #fff;

  --text-color: #000;
  --text-color-dark: #000;
  --text-color-light: #ccc;

  --controls-background-color: #eee;

  --board-border-color: transparent;
  --board-background-color: transparent;

  --button-border-color: #999;
  --button-background-color: #eee;
  --button-text-color: #000;
  --button-hover-background-color: #ccc;
  --button-hover-text-color: #000;

  --shadow-color: rgba(0, 0, 0, 0.2);

  --player-area-background-color: #eee;
  --player-area-border-color: #999;
  --player-area-shadow-color: #c956c766;

  --card-empty-background-color: #ccc;
  --card-background-color: white;
  --card-border-color: #999;
  --card-text-color: #333;

  --card-selected-background-color: tomato;
  --card-selected-border-color: #bc4c37;
  --card-selected-text-color: rgba(255, 255, 255, 0.9);

  --card-stock-background-color: #ccc;
  --card-stock-text-color: rgba(255, 255, 255, 0.9);

  --badge-background-color: #505f6d;
  --badge-text-color: rgba(255, 255, 255, 0.9);
  --badge-border-color: white;
  --badge-border-width: 0;

  --help-background-color: rgba(0, 0, 0, 0.6);
  --help-text-color: rgba(255, 255, 255, 0.9);

  --help-label-background-color: tomato;
  --help-label-text-color: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #4e1d85;

    --text-color: #fff;
    --text-color-dark: #ccc;
    --text-color-light: #888;

    --controls-background-color: #333;

    --board-border-color: transparent;
    --board-background-color: transparent;

    --button-border-color: #888;
    --button-background-color: rgba(0,0,0,0.6);
    --button-text-color: #eee;
    --button-hover-background-color: #444;
    --button-hover-text-color: #fff;

    --shadow-color: #9e58ed;

    --player-area-background-color: rgba(0,0,0,0.2);
    --player-area-border-color: rgba(255,255,255,0.3);

    --card-empty-background-color: #4e1d85;
    --card-background-color: rgba(0,0,0,0.4);
    --card-border-color: #888;
    --card-text-color: #bbb;

    --card-selected-background-color: tomato;
    --card-selected-border-color: rgba(255, 255, 255, 0.9);
    --card-selected-text-color: rgba(255, 255, 255, 0.9);

    --card-stock-background-color: #8445cb;
    --card-stock-text-color: rgba(255, 255, 255, 0.9);

    --badge-background-color: rgba(0, 0, 0, 0.6);
    --badge-text-color: rgba(255, 255, 255, 0.9);
    --badge-border-color: #777;
    --badge-border-width: 0;

    --help-background-color: rgba(255, 255, 255, 0.1);
    --help-text-color: rgba(255, 255, 255, 0.9);

    --help-label-background-color: #7f4aba;
    --help-label-text-color: rgba(255, 255, 255, 0.9);
  }
}


* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  transition: all 0.3s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body,
html {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;

  background-color: var(--background-color);
  color: var(--text-color);

  height: 100vh;

  font-size: clamp(10px, 1.1vmax, 1.4vmax);

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
}

p {
  margin: 1rem 0;
}

summary {
  cursor: pointer;
}

button {
  outline: none;
  appearance: none;

  border: 1px solid var(--button-border-color);
  border-radius: 0.5rem;

  background-color: var(--button-background-color);
  color: var(--button-text-color);

  padding: 0.15rem 0.5rem;

  font-family: inherit;
  font-size: 1.2rem;

  cursor: pointer;

  min-height: 38px;
  aspect-ratio: 1.25/1;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  button:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
  }
}

.hidden {
  display: none !important;
}

#controls, #metadata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;

  padding: 0.5rem;

  z-index: 999;
}

#controls {
  position: absolute;
  top: 0;
  left: 0;

}

#metadata {
  position: absolute;
  top: 0;
  right: 0;

  font-size: small;
}

#app-name {
  padding: 0.25rem 0;

  text-transform: uppercase;
}

#record {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  opacity: 0.5;
}

#board {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 90%;

  background-color: var(--board-background-color);

  border: 1px solid var(--board-border-color);
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (min-height: 1000px) {
  #board {
      gap: 4rem;
  }

  .player-area,
  #build-piles {
      transform: scale(1.25);
  }
}

.help {
  font-size: small;

  padding: 0.5rem 1rem;

  border-radius: 0.5rem;

  background-color: var(--help-background-color);
  color: var(--help-text-color);

  box-shadow: 0 0.15rem 0.25rem 0 var(--shadow-color);

  margin: 0.5rem;
}

.help-label {
  background-color: var(--help-label-background-color);
  color: var(--help-label-text-color);

  text-align: center;

  padding: 0.25rem 0.5rem;

  border-radius: 0.25rem;

  font-size: small;
}

.player-area {
    /*
  background-color: var(--player-area-background-color);

  border-radius: 0.25rem;
  border: 1px solid var(--player-area-border-color);
  */

  opacity: 0.2;

  position: relative;
}

.player-area.active {
  opacity: 1;

  box-shadow: 0 0 2rem 0 var(--player-area-shadow-color);
}

body.overflow .player-area {
  opacity: 1;
}

.card-row {
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.card {
  border: 1px solid var(--card-border-color);
  border-radius: 0.15rem;

  background-color: var(--card-background-color);
  color: var(--card-text-color);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 44px;
  min-width: 44px;

  aspect-ratio: 2/3;

  flex: 1;

  font-size: 1.6rem;

  position: relative;

  cursor: pointer;

  -webkit-touch-callout: none;
  touch-action: none;
}

.card.selected {
  background-color: var(--card-selected-background-color);
  color: var(--card-selected-text-color);

  border-color: var(--card-selected-border-color);
}

.card.empty {
  background-color: var(--card-empty-background-color);
}

.card.stock,
.card.draw {
  background-color: var(--card-stock-background-color);
  color: var(--card-stock-text-color);
}

.card.badge:after {
  content: attr(data-badge);

  position: absolute;
  top: -0.75rem;
  right: -0.75rem;

  width: 1.6rem;
  height: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--badge-background-color);
  color: var(--badge-text-color);

  border-radius: 50%;
  border-style: solid;
  border-width: var(--badge-border-width);
  border-color: var(--badge-border-color);

  box-shadow: 0 0.15rem 0.5rem 0 var(--card-shadow-color);

  font-size: 0.95rem;
  font-weight: 600;
}

#discard-pile-contents {
  position: absolute;
  margin: 0;
}

