:root {
  --active-border-width: 2px;
  --active-color: #fdc229;
  --active-text-color: rgba(0,0,0,0.8);

  --animate-duration: 600ms;

  --background-dark-transparent: rgba(0,0,0,0.2);
  --background-dark: #4e1d85;
  --background-light: #9e74cf5c;

  --badge-background-color: #b598d7;
  --badge-text-color: rgba(0,0,0,0.5);

  --build-pile-card-border-color: rgba(255,255,255,0.4);
  --build-pile-empty-color: #2b193d00;
  --build-piles-background-color: #3e136f00;

  --button-color-active: #cb9c22;
  --button-color: #ba93e9;

  --card-background-color: #6e34af;
  --card-empty-background-color: rgba(0,0,0,0.2);
  --card-border-color: rgba(255,255,255,0.4);
  --card-shadow-color: #18052380;
  --card-selected-background-color: #d976d622;
  --card-selected-border-color: #d976d6;

  --card-row-background-color: #5d2c94;
  --card-row-border-color: rgba(255,255,255,0.2);
  --card-row-scrollbar-color: rgba(255,255,255,0.2);

  --draw-stock-card-color: #2e2538ba;

  --help-background-color: rgba(0,0,0,0.2);

  --text-color: rgba(255, 255, 255, 0.6);
  --text-color-dark: #ccc;
  --text-color-darker: rgba(255, 255, 255, 0.5);
  --text-color-light: rgba(255, 255, 255, 0.75);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body,
html {
  background-color: var(--background-dark);
  height: 100vh;

  /* disable selection */
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  font-size: 14px;
}

body {
  overflow: hidden;
}

body.overflow {
  overflow: auto;
}

.hidden {
  display: none !important;
}

.help {
  display: none;
  padding: 1em;
  background-color: var(--help-background-color);
  color: var(--text-color-dark);
  border: 1px solid #666;
  border-radius: 0.5rem;
  font-size: small;
  margin: 0.5rem 0;
}

.help p,
.help h4 {
  text-align: left;
  font-weight: normal;
  padding: 0.4em;
}

.help h4 {
  font-weight: bold;
  font-size: large;
}

.help-label {
  display: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: normal;
  text-align: center;
  background: var(--help-background-color);
  color: var(--text-color-dark);
  border-radius: 0.25em;
  padding: 0.25rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 var(--card-shadow-color);
}

.badge {
  position: relative;
}

.badge:after {
  content: attr(data-badge);
  position: absolute;
  top: -0.7em;
  right: -0.7em;
  font-size: 0.7em;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  border-radius: 50%;
  text-align: center;
  background-color: var(--badge-background-color);
  color: var(--badge-text-color);
  box-shadow: 0 2px 5px 0 var(--card-shadow-color);
  z-index: 1;
}

.active .badge:after {
  background-color: var(--active-color);
  color: var(--active-text-color);
}

.card-row {
  padding: 0 0.25rem;
  border-radius: 0.5rem;
  background: var(--card-row-background-color);
  flex: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.25rem;
}

.active {
  opacity: 1 !important;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 9/16;
  font-size: 3vmax;
  min-height: 38px;
  min-width: 38px;
  padding: 0.25em;
  background-color: var(--card-background-color);
  color: var(--text-color);
  border-radius: 0.1em;
  box-shadow: 0 2px 5px 0 var(--card-shadow-color);
  border: 1px solid var(--card-border-color);
  height: 90%;
  width: calc(100% / 7);
  -webkit-touch-callout: none;
  touch-action: none;
}

.card.empty {
  opacity: 0.5;
  background-color: var(--card-empty-background-color);
}

.card.selected {
  border: 2px solid var(--card-selected-border-color);
  background-color: var(--card-selected-background-color);
}

.build {
  cursor: pointer;
}

.card.human {
  cursor: pointer;
}

.draw,
.stock {
  background-color: var(--draw-stock-card-color);
}

#new-game,
#toggle-help {
  min-width: 44px;
  border: none;
  background-color: transparent;
  color: var(--button-color);
  cursor: pointer;
  font-size: 1em;
  padding: 0 0.5em;
}

#new-game:active,
#toggle-help:active {
  color: var(--button-color-active);
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  z-index: 1;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 2px 5px 0 var(--card-shadow-color);
  background-color: var(--background-dark-transparent);
  height: 3rem;
}

#controls button {
  border-radius: 0.5em;
  border: 1px solid #ffffff22;
  background-color: #ffffff11;
}

@media (hover: hover) {
  #controls button:hover {
    background-color: #ffffff22;
  }
}

#title {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#app-name {
  color: var(--text-color-light);
}

#record {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
  color: var(--text-color-darker);
}

#main {
  height: calc(100vh); /* fallback */
  height: calc(var(--vh, 1vh) * 100 - 3rem);
  max-width: 700px;
  margin: 0.25rem auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  z-index: 999;
  position: relative;
}

#board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

body.overflow #board {
  height: calc(100vh + 10rem);
}

#build-piles {
  background-color: var(--build-piles-background-color);
  border: none;
  margin: 0.5rem 0;
}

#build-piles .card {
  border-color: var(--build-piles-card-border-color);
}

#build-piles .card.empty {
  background: var(--build-pile-empty-color);
}

#discard-pile-contents {
  position: absolute;
  margin: 0;
}

#cpu-hand {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#cpu-discard {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#human-hand {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#human-discard {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#cpu-hand, #cpu-discard, #human-hand, #human-discard {
  opacity: 0.4;
}

