* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease;
}

body,
html {
  background-color: #412a5b;
  height: 100%;

  /* disable selection */
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  font-size: 14px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: stretch;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(44px + 3vh);
  width: calc(2 / 3 * (44px + 3vh));
  margin: 0 calc(2px + 1vmin);
  font-size: calc(16px + 1.6vh);
  background-color: #76559c;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 0.1em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.4);
}

.card.empty {
  opacity: 0.5;
}

.card.selected {
  border: 2px solid #d976d6;
  background-color: #d976d622;
}

.build {
  cursor: pointer;
}

.human {
  cursor: pointer;
}

.draw,
.stock {
  background-color: rgba(0, 0, 0, 0.3);
}

.help {
  display: none;
  padding: 1em;
  background-color: rgba(0,0,0,0.2);
  color: rgba(255,255,255,0.5);
}

.help p,
.help h4 {
  text-align: left;
  font-weight: normal;
  padding: 0.4em;
}

.help h4 {
  font-weight: bold;
  font-size: large;
}

.help-label {
  display: none;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: normal;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.badge {
  position: relative;
}

.badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -1em;
  right: -1em;
  font-size: 0.45em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.73);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}

#cpu-stock[data-badge]:after {
  background-color: #b598d7;
}

#human-stock[data-badge]:after {
  background-color: #fdc229;
  color: black;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  z-index: 1;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.2);
}

#controls button {
  border-radius: 0.5em;
  border: 1px solid #ffffff22;
  background-color: #ffffff11;
}

@media (hover: hover) {
  #controls button:hover {
    background-color: #ffffff22;
  }
}

#board {
}

#title {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#app-name {
  color: rgba(255, 255, 255, 0.75);
}

#record {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
  color: rgba(255, 255, 255, 0.5);
}

.turn-indicator-label {
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  padding: 0.25em;
  font-size: 0.9em;
}

.turn-indicator-label.active {
  opacity: 1;
}

#cpu-turn {
  color: #79d5ea;
  display: none;
}

#human-turn {
  color: #fdc229;
}

.player-area {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #412a5b;
  border-left-width: 0;
  border-right-width: 0;
}

.player-area.active {
  border-color: #d1c270;
  background-color: #7c00e230;
}

#human-area {
  margin-bottom: 0;
  margin-top: 1em;
}

#new-game,
#toggle-help {
  min-width: 44px;
  border: none;
  background-color: transparent;
  color: #bab1c5;
  cursor: pointer;
  font-size: 1em;
  padding: 0 0.5em;
}

#new-game:active,
#toggle-help:active {
  color: #fdc229;
}

#build-piles {
  padding: 2em 0;
  background-color: #a38caf78;
}

#build-piles .card.empty {
  background: #fca331;
}

/* I do not feel like dealing with a landscape orientation on mobile web for now.
   Thus, if the screen is small and in landscape, show the normal portrait orientation
   but rotated as to give the user a hint that landscape isn't really supported. */

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
